<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="utf-8">
  <title>二股 - Home</title>
  <!-- CSS -->
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/templatemo-style.css" rel="stylesheet">
  <!-- JS -->
  <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script> <!-- jQuery -->
  <script type="text/javascript" src="js/bootstrap-filestyle.min.js"></script>
  <script type="text/javascript" src="js/templatemo-script.js"></script> <!-- Templatemo Script -->
  <script src="/js/myJS.js"></script>
</head>

<body>
  <!-- Left nav -->
  <div class="templatemo-flex-row">
    <div class="templatemo-sidebar">
      <header class="templatemo-site-header">
        <h1><a href="/">一網維二股</a></h1>
      </header>
      <!-- Search box -->
      <form class="templatemo-search-form" role="search">
        <div class="input-group">
          <button type="submit" class="fa fa-search"></button>
          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
        </div>
      </form>
      <div class="mobile-menu-icon">
        <i class="fa fa-bars"></i>
      </div>

      <nav class="templatemo-left-nav">
        <ul>
          <li><a href="/"><i class="fa fa-home fa-fw"></i>首頁</a></li>
          <li><a href="/article"><i class="fa fa-book fa-fw"></i>文章</a></li>
          <li><a href="/database" class="active"><i class="fa fa-database fa-fw"></i>資料庫</a></li>
        </ul>
      </nav>
    </div>
    <!-- Top nav -->
    <div class="templatemo-content col-1 light-gray-bg">
      <div class="templatemo-top-nav-container">
        <div class="row">
          <nav class="templatemo-top-nav col-lg-12 col-md-12">
            <ul class="text-uppercase">
              <li><a href="/">內容</a></li>
              <li><a href="/post_article"><i class="fa fa-sliders fa-fw"></i>發表文章</a></li>
              <li><a href="/add_database" class="active"><i class="fa fa-sliders fa-fw"></i>新增資料庫</a></li>
              <li><a href="/login"><i class="fa fa-eject fa-fw"></i>登入</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="templatemo-content-container">
        <div class="templatemo-content-widget white-bg">
          <h1 class="margin-bottom-10">新增資料庫</h1>
          <p>請上傳excel的檔案</p>
          <form action="add_database_to_db" class="templatemo-login-form" method="post" enctype="multipart/form-data">
            <div class="row form-group">
              <div class="col-lg-6 col-md-6 form-group">
                <label for="inputFirstName">資料庫名稱</label>
                <input type="text" class="form-control" name="db_name" placeholder="SDH設備">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-lg-6">
                <label class="control-label templatemo-block">上傳檔案</label>
                <input type="file" name="input" id="input" class="filestyle" data-buttonName="btn-primary"
                  data-buttonBefore="true" data-icon="false" accept=".xlsx,.xls" style="display:none"
                  data-buttonText="選擇檔案">
                <p>限制大小 10 MB.</p>
              </div>
            </div>
            <div class="form-group text-right">
              <button type="submit" class="templatemo-blue-button">新增</button>
              <button type="reset" class="templatemo-white-button">清空</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- 底部 -->
  <footer class="text-right">
    <p>
      Designed By <a href="#">林宏勲</a>
      Phone : <a href="tel:0956168012">0956168012</a>
      eMail : <a href="mailto:cht_lin@cht.com.tw">cht_lin@cht.com.tw</a>
    </p>
  </footer>
</body>

</html>